<div class="container" style="margin-top: 100px">
  <div class="row">
    <div class= "col-lg-12">
      <legend><h2 class="text-info">
      An activation link was sent to you. Please check your email.</h2><legend>
       </div>
    </div>
 </div>
</div>